.cart__wrapper{padding: 20px; width: 100%; max-width: 1200px; margin:0px auto;}
.cart__title h2{font-weight: 400; text-align: center; font-size: 24px; font-family:"Lato", sans-serif ;}
.cart__top{display: flex; align-items: center; justify-content: space-between; padding: 20px;}
/* .cart__bottom{border-bottom: 2px solid gray;} */
.cart__topbutton1,.cart__topbutton2{padding: 10px 20px; cursor: pointer;}
.cart__topbutton1{border: 2px solid rgb(177, 202, 37); background-color: transparent;}
.cart__topbutton2{border: none; background-color: rgb(177, 202, 37);
    color: white !important; transition: all ease 0.5s;}
.cart__topbutton2:hover{background-color: rgb(198, 232, 178); color: grey!important;}
.cart__toptext{text-decoration: underline;cursor: pointer;margin: 0px 15px; font-weight: 400;}
.cart__bottom{display: flex; justify-content: space-between; align-items: center;}
.cart__info{flex: 3;}
.cart__summary{flex:1; padding:0px 10px;}
.cart__product{display: flex; justify-content: space-between; margin:5px 0px; border-bottom: 1px solid gray; background-color: rgb(255, 255, 255);padding:15px 0px;}
.cart__productdetails{flex: 2; display: flex;}
.cart__productdetails img{width: 140px; height: 150px; object-fit: contain;}
.cart__details{display: flex; flex-direction: column; padding: 0px 20px; justify-content: space-around;}
.cart__pricedetails{flex: 1; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.price{font-size: 18px; font-weight: 400; padding: 7px 0px;}
.hr{background-color: aliceblue; height:1px; border: none;}
.summary__items{display: flex; margin: 20px 0px; justify-content: space-between;}
.total{font-weight: 600; font-size: 24px;}
.cart_btn{padding: 10px 20px; border: none; outline: none; background-color: rgb(177, 202, 37);
    color: white !important; transition: all ease 0.5s; cursor: pointer; width: 100%; font-weight: 500;}
.cart_btn:hover{background-color: rgb(198, 232, 178);
    color: grey !important;}
    .productname{padding:7px 0px; font-size: 18px; font-weight: 500;}
.cart__instock{
    background-color: rgb(198, 232, 178);
    width: fit-content;
    font-size: 12px;
    padding:5px 7px;
    margin-top: 7px;
}
.cart__outstock{
    background-color: orangered;
    width: fit-content;
    padding: 5px 7px;
    font-size: 12px;
}
.addbtn{
    padding:5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: grey;
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(165, 165, 165);
    margin-bottom: 5px;
    border-radius: 15px;
    
}
.deletebtn{
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgb(177, 202, 37);
    color: white !important;
    border-radius: 15px;
    
}
.cartbutton{display: flex; flex-direction: column;}
@media screen and (max-width:480px) {
    .cart__topbutton1,.cart__topbutton2{font-size: 12px; padding:5px 7px;}
    .cart__wrapper{padding: 10px;}
    .cart__toptext{display: none;}
    .cart__bottom{flex-direction: column;}
    .cart__info{flex-direction: column;}
    .cart__product{flex-direction: column;padding:0px 5px; font-size: 12px;}
    .cart__productdetails{padding:0px 4px!important;}
    .cart__productdetails img{padding-top:12px;}
    .price{margin-bottom: 20px;}
    .cart__summary{width: 100%;}
    .cart__details{padding:0px 10px;}
    .addbtn{width: 300px; display: flex; align-items: center; justify-content: center;}
    .deletebtn{width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;}
    .cartbutton{
        margin-bottom: 10px;
    }
}