.productss__wrapper{width: 100%; display: flex; padding: 50px 50px; max-width: 900px; margin:0px auto}
.productss__prodimg{flex: 1;}
.productss__prodimg img{width: 100%; height: 100%; object-fit: contain;}
.productss__otherimages{flex: 1; height: 200px;}
.productss__otherimages img:hover{transform: scale(1.5);}
.productss__otherimages h2{font-size: 14px; font-weight: 500; padding: 10px 0px;}
.productss__otherimages img{width: 30%; height: 80%; object-fit: cover; margin: 0px 5px; border-radius: 10px!important;cursor: pointer; transition: all .5s ease-in-out;}
.productss__infocontainer{flex: 1; display: flex; flex-direction: column; padding: 0px 25px;}
.productss__title{width: 100%; margin-bottom: 10px;}
.productss__title span{background-color: rgb(214, 252, 44); padding:5px; font-weight: 600; font-size:12px;}
.productss__title h2{font-weight: 400;}
.productss__desc{width: 100%; margin-bottom: 10px; }
.productss__desc p{font-family:'Times New Roman', Times, serif; width: 80%;}
.productss__price{width: 100%; font-weight: 400; font-size: 36px; padding: 25px 0px;}
.productfilter__container{width: 60%; display: flex; align-items: center; justify-content: space-between;}
.productfilter{display: flex; align-items: center; justify-content: center;}
.productfilter h2{font-size: 14px;}
.filter__color{display: flex; align-items: center;}
.selectprodsize{padding: 5px 10px; margin: 0px 5px;}
.productaddContainer{display: flex; align-items: center; margin-top: 10px; width: 60%; justify-content: space-between;}
.addToCart{border: none; background-color: rgb(252, 44, 200);padding: 10px 10px; color: white; transition: all ease 0.5s; cursor: pointer;}
.addToCart:hover{background-color: rgb(236, 188, 236);}

@media screen and (max-width: 380px) {
    .productss__wrapper{
        flex-direction: column;
        padding:10px 0px;
    }
    .productss__prodimg{height: 40vh;}
    .productss__infocontainer{padding:10px;}
    .productfilter__container{width: 100%;}
    .productaddContainer{width: 100%;}
    .productss__otherimages h2{padding-left: 15px;}

}