
.ankara__product {
    flex: 1;
    margin: 10px;
    min-width: 150px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    transition: all ease 0.5s;
    cursor: pointer;
    /* background-color: red; */
}

.ankaraproduct:hover {
    transform: translateY(6px);
}

.ankaraproduct__inf {
    background-color: rgb(255, 254, 249);
    /* background-color: rgb(194, 180, 55, 0.8); */
    width: 100%;
    /* height: 10%; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    flex-direction: column;
}

.ankaraproduct__infowrap {
    padding: 5px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.ankaraproduct__tit {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    padding-left: 15px;
}

/* .product__info{
    width:100%;
    height: 10%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(194, 180, 55, 0.8);
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    border-radius: 15px;
}
.product__info:hover{
opacity: 1;
} */
.ankaraproduct__iconcontainer .MuiBadge-badge {
    background-color: #fed426 !important;
    color: black !important;
}

.ankaraproduct__pristock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ankarashopicon {
    color: orange;
font-size: 24px!important;
}

.ankaraprod__moq {
    font-weight: 500;
    font-size: 12px;
    margin-left: 3px;
    background-color: rgb(226, 223, 57);
}

.ankaraprod__price {
    font-size: 18px;
}

.ankaraprod__instock {
    font-size: 12px;
    margin-left: 3px;
    font-weight: 300;
}

.ankaraproduct__icon a {
    color: purple;
}

.ankarashopicon:hover {
    color: orange;
    transform: scale(1.1);
}

.ankaraproduct__iconcontainer span {
    font-size: 10px;
    font-weight: 600;
    color: purple;
}

.ankaraproduct__img {
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
}

.ankaraproduct__img img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}