.announcement{
    /* background-color: rgb(194, 180, 55, 0.8); */
    background-color: white;
    color:#981ca3;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../ankarabgannouncement.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    
}
.announce{font-size: 18px; margin-right: 15px;}
.sub__announce{font-size: 14px; color: #981ca3;}

@media screen and (max-width: 380px){
    .announce{font-size: 12px; }
}