.slider {
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  max-width: 1300px;
  margin:0px auto;
}
.sliderinfo {
  position: absolute;
  top: 20vh;
  left: 30px;
  padding: 20px;
  height: 200px;
  width: 50%;
  max-width: 400px;
  background-color: rgb(254, 212, 38, 0.4);
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 25px 25px;
}

.sliderinfo h1 {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: rgb(41, 30, 30);
}

.sliderinfo span {
  font-size: 16px;
  color:black;
}

.sliderinfo button {
  padding: 10px 16px;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-top: 20px;
  width: 100px;
  margin-left: 35%;
  background-color: rgb(41, 30, 30);
  /* background-color: rgb(190, 53, 129); */
  color: white;
  cursor: pointer;
  transition: all ease 0.5s;
}

.sliderinfo button a {
  color: white;
}

.sliderinfo button:hover {
  transform: translateY(6px);
}
.slider__hero{width: 100%;height: 80vh;position: relative;border-radius: 10px}
.sliderImg{width: 100%;height: 80vh;object-fit: cover;border-radius: 10px}
.hero__left{flex:0.2; background-color: white; margin: 10px 0px;
  border-radius: 10px; display: flex; flex-direction: column;}
.hero__category{display: flex;align-items: center;padding:5px 15px; color:rgb(71, 71, 71); cursor: pointer; transition: all ease 0.5s;}
.hero__category:hover{color:#981ca3 ;}
.hero__icon{font-size: 24px;}
.hero__catTitle{padding: 10px 20px;}
.hero__title{margin-left: 10px; font-size: 14px;}
.hero__center{flex:0.6; height: 80vh; background-color: #981ca3; margin:10px 15px; border-radius: 10px;}
.hero__right{flex:0.2; background-color: white;margin: 10px 0px;
  border-radius: 10px;}
@media screen and (max-width: 380px){
  .slider{display: none;}
}