.inputcontainer{width: 100%;display: flex;}
.inputcontainer input{
    flex: 1;
    min-width: 100%;
    padding: 10px 10px;
    margin: 20px 10px 0px 0px;
    border: none;
}
.eye{
 position: absolute;
 right: 40%;
 top:49%;
 font-size: 16px!important;
 cursor: pointer;

}

@media screen and (max-width:380px) {
    .eye{
       
        right: 20%;
        top:47%;
       }
}