.nav__container{
    background-color: rgb(14, 14, 13);
    /* background-color: #981ca3; */
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 40px;
    padding-left:50px
    
}
/* .nav__search{flex: 1;display: flex; align-items: center; justify-content: center;}
.nav__search input{padding: 10px; border: none; background-color: transparent; outline: none;}
.nav__searchcontainer{width: 80%; background-color: #fed426; display:flex; align-items: center; justify-content: center; border-radius: 25px;} */
.nav__icon{cursor: pointer;}
/* .nav__logo{flex: 2; display: flex; justify-content: center; font-size: 36px; font-weight: bold;} */
/* .nav__menu{flex: 1; display:flex;} */
.nav__menu div{ margin:0 10px; cursor: pointer;}

@media screen and (max-width: 380px){
    .nav__container{height: 150px; padding:0.5rem 0.5rem;flex-direction: column; display: flex; justify-content: flex-start;}
    .nav__searchcontainer{padding: 0px !important; justify-content: flex-start;}
    .nav__search input{width: 100%;}
    .nav__search{width: 100%; }
    .nav__logo{font-size: 14px; flex: 1; margin: 5px;}
    .nav__menu{flex: 2; font-size:12px; display: flex; justify-content: space-between;}
  }

@media screen and (max-width: 768px) {
    .nav__container{
        display: flex;
    }
    .nav__search{flex:1}
    .nav__searchcontainer{width: 100%; padding: 0 5px;}
    .nav__logo{flex:1;}
    .nav__menu{flex:1;}
    .nav__menu div{margin:0 5px; font-size: 13px;}
    .nav__reg{font-size: 14px;}
}

