.products{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin:20px 0px;
    /* background-color: rgb(12, 12, 12); */
    /* background-color: rgb(59, 37, 59); */
}
.products__product{
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    width: 100%;
    padding: 25px;
    padding-top: 50px;
    flex-wrap: wrap;
}
.products h2{
    text-align: center;
    font-size: 36px;
    font-family:"Lato", sans-serif ;
    padding:25px 0px;
    /* color:#981ca3; */
    color:rgb(50, 50, 50);
}

@media screen and (max-width:380px) {
    .products__product{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        width: 100%;
        padding: 25px 0px;
        padding-top: 50px;
        flex-wrap: wrap;
    }
}