.main__container {
    width: 100%;
}

.create__product {
    width: 100%;
    display: flex;
}

.create__productSidenav {
    flex: .15;
}

.create__ankaracontainer {
    flex: .85;
    display: flex;
    background-image: url("../ankarabgannouncement.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: red; */

}

.create__ankaraform {
    width: 50%;
    background-color: rgba(38, 38, 37, 0.5);
}
.create__ankaraform h3{color: white;}

.create__ankarapreview {
    width: 25%;
    /* background-color: green; */
}